<?xml version='1.0' encoding='utf-8'?>
<TextureAtlas imagePath="settings.png"><SubTexture name="settings select0000" x="0" y="0" width="715" height="283" frameX="0" frameY="0" frameWidth="715" frameHeight="283" />
<SubTexture name="settings idle0000" x="0" y="283" width="715" height="283" frameX="0" frameY="0" frameWidth="715" frameHeight="283" />
</TextureAtlas>
